a {
	color: #999999;
}
a:hover {
	color: #ff7552;
}
p{
	font-size: 2em;
	font-family: "Source Sans Pro", sans-serif;
}
p.white {
	color: white;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
}

#mainNav .navbar-brand {
	color: #ff7552;
	font-family: 'Yellowtail', "Julius Sans One", serif;
}
#mainNav .navbar-brand:hover {
	color: white;
}
#mainNav .navbar-nav .nav-item .nav-link {
	color: white;
	font-family: "Archivo Narrow", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25em }
	#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
	      color: #ff7552; }
	#mainNav .navbar-toggler {
		background-color: #ff7552;
	}


header.masthead {
	background-image: url("../img/header-sun.jpg");
	/*filter: gray;*/ /* IE6-9 */
	/*-webkit-filter: grayscale(1)*/; /* Google Chrome, Safari 6+ & Opera 15+ */
	/*filter: grayscale(1)*/
}
header.masthead .intro-text .intro-heading {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 400;
	margin-top: 1em;
	font-size: 6em;
	line-height: 120px;
	text-align: right;
	/*color: #ff8753;*/
	color: #ff7552;
}
header.masthead .intro-text .intro-lead-in {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 4pt;
}

section h2.section-heading {
	font-family: 'Julius Sans One', sans-serif;
	color: #ff7552;
	font-size: 3em;
}
section h3.section-subheading {
	font-family: 'Archivo Narrow', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1pt;
	color: #000000;
}

h4.service-heading {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 2em;
	letter-spacing: 2pt;}
.portfolio-modal .modal-content p.item-intro {
	font-family: 'Archivo Narrow', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1pt;
	color: #000000;
}
.btn-primary {
	background-color: #999999;
	border-color: #999999;
}
.btn-primary:hover {
	background-color: #ff7552;
	border-color: #ff7552;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	background: #ff7552;


