.peach {
  color: #ff9994;
}

.blue {
  color: #a9cddc;
}

a {
    color: #a9cddc;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #333
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #a9cddc;
}

header.masthead {
	background-image: url("../img/website_splashpage.jpg");
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 325px;
}

header.masthead .intro-text .intro-heading {
  font-family: 'Amiri', serif;
  font-weight: 900;
  font-size: 6em;
  color: #333;
  text-transform: lowercase;
  letter-spacing: 0.05em
}

header.masthead .subhead {
  padding-bottom: 50px;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 15%;
  padding-right: 15%;
}

section.bg-grey {
  color: #d9d9d9;
}

h3.quoteable {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: none;
  color: #ff9994;
}

#i_am {
  font-size: 2em;
  padding-top: 0.5em;
  color: #a9cddc;
}

section h2.section-heading {
  font-family: 'Amiri', serif;
  font-weight: 900;
  font-size: 3.5em;
  color: #333;
  text-transform: lowercase;
  letter-spacing: 0.02em;
}

section p.description-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: #333
}

section .padded-row {
  padding-top: 1em;
}

#portfolio .portfolio-item a {
  border-style: solid;
  border-width: thin;
  border-color: #e5e5e5;
  height: 100%;
}

#portfolio .portfolio-item .portfolio-caption {
  text-align: left;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  font-family: 'Amiri', serif;
  font-style: normal;
  font-size: 1.75rem;
  text-transform: lowercase;
  color: black;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-family: 'Montserrat', serif;
  font-size: 0.75em;
  font-style: normal;
  color: black;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #a9cddc;
}
